html, body {
    height:100%;
    background: white url("images/bg.jpg");
}

iframe {
    width: 100%;
    border-width: 0;
}

.text-white {
    color: #fff;
}

.header {
    margin: .5rem 0 .75rem;
    font-size: 1.5rem;
    font-weight:bold;
}

