iframe {
    width: 100%;
    border-width: 0;
}

.header {
    background: #E3E9FF;
    margin-bottom: 1rem;
}
.header-h1 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: .5rem 0 .75rem;
}

my-email::after {
    content: attr(data-domain);
}
my-email::before {
    content: attr(data-user) "\0040";
}

.grey {
    color: #333;
}
.text-small {
    font-size: 0.85em;
}

h1,h2,h3,h4,h5 {margin-bottom: 0.5em}

a, h2,h3,h4,h5 {color: #5d74ba}

.list-item {
    margin: 0.5em 0;
}

.check-update:empty {
    display: none;
}
.check-update {
    padding: .5rem 1rem;
    background: #e0f5d9;
    margin-bottom: 1rem;
}